.card {
    width: calc(100% / 4 - 30px);

    border-radius: 20px;

    background-color: #fff;

    &__inner {
        padding: 60px 20px;

        @include flexDesign();
        justify-content: center;
        @include flexDirection(column);

        gap: 30px;

        @media (max-width: 990px) {
            gap: 20px;
        }
    }

    @media (max-width: 1280px) {
        width: calc(100% / 2 - 30px);
    }

    @media (max-width: 600px) {
        width: calc(100% / 1 - 30px);
    }

    &__img img {
        width: 100%;
        height: 90px;

        display: block;
    }

    &__body {
        @include flexDesign();
        justify-content: center;
        @include flexDirection(column);

        gap: 11px;
    }

    &__title {
        font-family: $font-archivo;
        font-size: $font-size-2;
        font-weight: 900;
    }

    &__desc {
        line-height: 26px;

        text-align: center;

        font-family: $font-roboto;
        font-size: $font-size-1;
    }

    &--activity {
        width: calc(100% / 4 - 30px);


        @media (max-width:1350px) {
            width: calc(100% / 3 - 30px);
        }

        @media (max-width:990px) {
            width: calc(100% / 2 - 30px);
        }

        @media (max-width:650px) {
            width: calc(100% / 1 - 30px);
        }

        .card {
            &__inner {
                padding: 40px;

                gap: 43px;
            }

            &__img {
                position: relative;

                img {
                    height: 100%;

                    border-radius: 20px;
                }

                .love-icon {
                    padding: 9px;

                    color: $sec-color;

                    border-radius: 14px;

                    position: absolute;
                    top: 20px;
                    right: 20px;

                    background-color: #fff;
                }
            }

            &__body {
                margin-top: -70px;

            }

            &__price {

                padding: 17px 40px;

                color: $sec-color;

                font-family: $font-roboto;
                font-size: $font-size-1;
                font-weight: 500;

                border-radius: 14px;

                background-color: #fff;

                z-index: 5;
            }
        }

    }

}