.c-page-top {
    margin: -25px;

    position: absolute;

    right: 200px;

    &__inner {
        width: 60px;
        height: 60px;

        border-radius: 20px;

        background: #fff;

        display: flex;
        justify-content: center;
        align-items: center;

        i {
            color: $sec-color;
            font-size: 20px;
        }
    }
}