/**
 * Minified by jsDelivr using clean-css v5.3.2.
 * Original file: /npm/reset-css@5.0.2/reset.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Roboto:wght@400;500&display=swap");
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


.l-header {
  margin-top: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}
@media (max-width: 990px) {
  .l-header {
    margin-top: 40px;
  }
}
.l-header .l-header-inner {
  width: 79%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: all 1s linear;
}
@media (min-width: 1600px) {
  .l-header .l-header-inner {
    width: 1518px;
  }
}
@media (max-width: 470px) {
  .l-header .l-header-inner {
    padding: 0 20px;
    width: 374px;
  }
}
@media (max-width: 420px) {
  .l-header .l-header-inner {
    width: 90%;
  }
}
.l-header__list {
  display: flex;
  align-items: center;
  gap: 49px;
  flex-wrap: wrap;
  transition: all 1s linear;
}
@media (max-width: 1280px) {
  .l-header__list {
    gap: 20px;
  }
}
@media (max-width: 990px) {
  .l-header__list {
    width: 100%;
    justify-content: space-between;
    gap: 15px;
  }
}
.l-header__list__logo img {
  width: 100%;
  height: 100%;
}
.l-header__list .hamburger {
  padding: 15px;
  position: relative;
  display: block;
  width: 60px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  border-radius: 20px;
  background: #fff;
}
.l-header__list .hamburger.is-active {
  background: none;
}
.l-header__list .hamburger .bar, .l-header__list .hamburger::before, .l-header__list .hamburger::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #E76F51;
  margin: 6px 0px;
  transition: 0.4s;
}
.l-header__list .hamburger.is-active:before {
  transform: translate(-8px, 8px) rotate(-45deg);
}
.l-header__list .hamburger.is-active:after {
  transform: translate(-8px, -9px) rotate(45deg);
}
.l-header__list .hamburger.is-active .bar {
  opacity: 0;
}
@media (min-width: 990px) {
  .l-header__list .hamburger {
    display: none;
  }
}
@media (max-width: 990px) {
  .l-header__menu {
    display: none;
  }
}
.l-header__menu ul {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  color: #fff;
}
@media (max-width: 1280px) {
  .l-header__menu ul {
    gap: 7px;
  }
}
.l-header__menu ul li a {
  text-decoration: none;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #D2D2D2;
  transition: all 500ms linear;
}
.l-header__menu ul li a.active, .l-header__menu ul li a:hover {
  color: #fff;
  position: relative;
}
.l-header__menu ul li a.active::before, .l-header__menu ul li a:hover::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #E76F51;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: all 500ms linear;
}
@media (max-width: 1280px) {
  .l-header__menu ul li a {
    font-size: 16px;
  }
}
.l-header__sign {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
@media (max-width: 1280px) {
  .l-header__sign {
    gap: 3px;
  }
}
@media (max-width: 990px) {
  .l-header__sign {
    display: none;
  }
}

.l-ft {
  padding: 100px 0px 60px 0;
  border-radius: 200px 200px 0 0;
  background: #f8e1db;
}
.l-ft .l-wrap-inner {
  gap: 60px;
}
.l-ft__bloc {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 160px;
}
.l-ft__info {
  width: 615px;
}
.l-ft__info .txt-box {
  margin-bottom: 40px;
}
.l-ft__info .txt-box h3 {
  margin-bottom: 20px;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 900;
}
.l-ft__info .txt-box p {
  line-height: 28px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.l-ft__download h3 {
  margin-bottom: 20px;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 900;
}
.l-ft__menu {
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-items: start;
  gap: 30px;
}
.l-ft__menu .ft__quick h3 {
  margin-bottom: 20px;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 900;
}
.l-ft__menu .ft__quick ul li {
  margin-bottom: 14px;
}
.l-ft__menu .ft__quick ul li a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #000;
}
.l-ft .ft-bottom > address {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.prj-wrap {
  background-color: #FAF4F2;
}

.l-title {
  width: 50%;
  line-height: 109px;
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-size: 81px;
  font-weight: 900;
  color: #fff;
  transition: all 1s linear;
}
@media (max-width: 1280px) {
  .l-title {
    font-size: 60px;
    line-height: 85px;
  }
}
@media (max-width: 990px) {
  .l-title {
    width: 70%;
    font-size: 55px;
    line-height: 75px;
  }
}
@media (max-width: 470px) {
  .l-title {
    width: 85%;
    font-size: 45px;
    line-height: 61px;
  }
}
.l-title__desc {
  width: 35%;
  line-height: 28px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #fff;
  transition: all 1s linear;
}
@media (max-width: 1280px) {
  .l-title__desc {
    width: 45%;
  }
}
@media (max-width: 990px) {
  .l-title__desc {
    width: 50%;
  }
}
@media (max-width: 650px) {
  .l-title__desc {
    width: 70%;
  }
}
@media (max-width: 470px) {
  .l-title__desc {
    width: 100%;
  }
}

.c-mobile-nav {
  font-family: "Roboto", sans-serif;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 98;
  background-color: #FAF4F2;
  padding-top: 120px;
  transition: 0.4s;
}
.c-mobile-nav.is-active {
  left: 0;
}
.c-mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 10px;
  text-align: center;
  padding: 12px 16px;
  color: #D2D2D2;
  text-decoration: none;
}
.c-mobile-nav a.active {
  color: #000;
}
.c-mobile-nav a:hover {
  color: #000;
}
@media (min-width: 990px) {
  .c-mobile-nav {
    display: none;
  }
}

.c-btn a {
  padding: 16px 0;
  width: 130px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  border: 1px solid #fff;
  border-radius: 25px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s linear;
}
@media (max-width: 1280px) {
  .c-btn a {
    padding: 12px 0;
    width: 110px;
    font-size: 16px;
  }
}
.c-btn--signup a {
  border: 0;
}
.c-btn--mobile a {
  color: #000;
}
.c-btn--discover a {
  width: 205px;
  border: 0;
  background: #E76F51;
}
.c-btn--readmore a {
  margin-top: 14px;
  width: 185px;
  color: #8D8D8D;
  background-color: rgba(141, 141, 141, 0.1);
}
.c-btn--viewmore a {
  margin-top: 60px;
  width: 205px;
  border: 1px solid #E76F51;
  border-radius: 25px;
  color: #E76F51;
}

.c-title--activities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-title--activities .img__activity {
  margin-bottom: 39px;
  width: 90px;
  position: relative;
  z-index: 3;
}
.c-title--activities .img__activity::after {
  content: "";
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #E76F51;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.c-title--activities .img__activity img {
  width: 100%;
  aspect-ratio: 1/1;
  display: block;
}
.c-title--activities h3 {
  line-height: 54px;
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-size: 40px;
  font-weight: 900;
  transition: all 1s ease;
}
@media (max-width: 990px) {
  .c-title--activities h3 {
    line-height: 48px;
    font-size: 35px;
  }
}
@media (max-width: 470px) {
  .c-title--activities h3 {
    line-height: 41px;
    font-size: 30px;
  }
}

.card {
  width: calc(25% - 30px);
  border-radius: 20px;
  background-color: #fff;
}
.card__inner {
  padding: 60px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 990px) {
  .card__inner {
    gap: 20px;
  }
}
@media (max-width: 1280px) {
  .card {
    width: calc(50% - 30px);
  }
}
@media (max-width: 600px) {
  .card {
    width: calc(100% - 30px);
  }
}
.card__img img {
  width: 100%;
  height: 90px;
  display: block;
}
.card__body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 11px;
}
.card__title {
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 900;
}
.card__desc {
  line-height: 26px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.card--activity {
  width: calc(25% - 30px);
}
@media (max-width: 1350px) {
  .card--activity {
    width: calc(33.3333333333% - 30px);
  }
}
@media (max-width: 990px) {
  .card--activity {
    width: calc(50% - 30px);
  }
}
@media (max-width: 650px) {
  .card--activity {
    width: calc(100% - 30px);
  }
}
.card--activity .card__inner {
  padding: 40px;
  gap: 43px;
}
.card--activity .card__img {
  position: relative;
}
.card--activity .card__img img {
  height: 100%;
  border-radius: 20px;
}
.card--activity .card__img .love-icon {
  padding: 9px;
  color: #E76F51;
  border-radius: 14px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fff;
}
.card--activity .card__price {
  margin-top: -70px;
  padding: 17px 40px;
  color: #E76F51;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border-radius: 14px;
  background-color: #fff;
  z-index: 5;
}

.c-page-top {
  margin: -25px;
  position: absolute;
  right: 200px;
}
.c-page-top__inner {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-page-top__inner i {
  color: #E76F51;
  font-size: 20px;
}

.mainvisiual {
  height: 980px;
  border-radius: 0 0 200px 200px;
  background: url("../../../img/bg1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  transition: all 1s linear;
}
@media screen and (max-width: 1600px) {
  .mainvisiual {
    height: 1080px;
  }
}
@media (max-width: 470px) {
  .mainvisiual {
    border-radius: 0 0 100px 100px;
  }
}

.l-wrap-inner {
  width: 79%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 150px;
  transition: all 1s linear;
}
@media (min-width: 1600px) {
  .l-wrap-inner {
    width: 1518px;
  }
}
@media (max-width: 470px) {
  .l-wrap-inner {
    width: 374px;
  }
}
@media (max-width: 420px) {
  .l-wrap-inner {
    width: 90%;
  }
}

.p-bloc--cards {
  margin-top: -100px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
.p-bloc--activities .wrap-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.p-bloc--activities .wrap-content .activies-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.p-bloc--form {
  margin-bottom: 100px;
  background: url("../../../img/subscribe.png") no-repeat;
  background-size: 100% 100%;
}
.p-bloc--form .form-bloc {
  margin: 0 auto;
  max-width: 1300px;
  height: 390px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p-bloc--form .form-bloc .txt-box {
  width: 47%;
}
@media screen and (max-width: 1050px) {
  .p-bloc--form .form-bloc .txt-box {
    width: 60%;
  }
}
.p-bloc--form .form-bloc .txt-box__inner {
  padding-right: 100px;
  margin-bottom: 30px;
}
.p-bloc--form .form-bloc .txt-box h4 {
  font-family: "Archivo Black", sans-serif;
  font-size: 40px;
  line-height: 1.3;
  color: #3b3735;
}
.p-bloc--form .form-bloc .txt-box .form-bloc__input {
  position: relative;
  width: 100%;
}
.p-bloc--form .form-bloc .txt-box .form-bloc__input input[type=text] {
  padding: 0 60px;
  width: 80%;
  height: 80px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border-radius: 20px;
  border: 0;
  outline: none;
  background: #fff url("../../../img/mail.png") no-repeat;
  background-position: 30px center;
  display: block;
}
.p-bloc--form .form-bloc .txt-box .form-bloc__input input[type=submit] {
  width: 80px;
  height: 80px;
  border: 0;
  outline: none;
  background: url("../../../img/icon.png") no-repeat;
  background-size: 50px 50px;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
@media screen and (max-width: 1600px) {
  .p-bloc--form .form-bloc {
    max-width: 1000px;
  }
  .p-bloc--form .form-bloc input[type=submit] {
    right: -25px;
  }
}
@media screen and (max-width: 1300px) {
  .p-bloc--form .form-bloc {
    max-width: 800px;
  }
}
@media screen and (max-width: 1050px) {
  .p-bloc--form .form-bloc {
    max-width: 650px;
  }
  .p-bloc--form .form-bloc .img-box {
    display: flex;
    justify-content: end;
  }
  .p-bloc--form .form-bloc .img-box img {
    width: 75%;
  }
}
@media screen and (max-width: 850px) {
  .p-bloc--form .form-bloc {
    flex-direction: column;
  }
  .p-bloc--form .form-bloc .img-box {
    order: 1;
  }
  .p-bloc--form .form-bloc .txt-box {
    order: 2;
  }
}

body {
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */