.l-header {
    margin-top: 60px;

    width: 100%;

    position: fixed;
    top: 0;
    z-index: 999;

    @media (max-width:990px) {
        margin-top: 40px;
    }


    .l-header-inner {
        width: 79%;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        transition: all 1s linear;

        @media (min-width: 1600px) {
            width: 1518px;
        }

        @media (max-width: 470px) {
            padding: 0 20px;
            width: 374px;
        }

        @media (max-width: 420px) {
            width: 90%;
        }

    }

    &__list {
        @include flexDesign;
        @include flexGap(49px);
        flex-wrap: wrap;

        transition: all 1s linear;

        @media (max-width:1280px) {
            @include flexGap(20px);
        }

        @media (max-width:990px) {
            width: 100%;

            justify-content: space-between;
            @include flexGap(15px);
        }

        .hamburger {
            padding: 15px;

            position: relative;
            display: block;
            width: 60px;
            cursor: pointer;

            appearance: none;
            outline: none;
            border: none;

            border-radius: 20px;
            background: #fff;

            &.is-active {
                background: none;
            }

            .bar,
            &::before,
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 3px;
                background-color: $sec-color;
                margin: 6px 0px;
                transition: 0.4s;
            }

            &.is-active:before {
                transform: translate(-8px, 8px) rotate(-45deg);
            }

            &.is-active:after {
                transform: translate(-8px, -9px) rotate(45deg);
            }

            &.is-active .bar {
                opacity: 0;
            }

            @media (min-width: 990px) {
                display: none;
            }
        }
    }

    &__menu {
        @media (max-width: 990px) {
            display: none;
        }

        ul {
            @include flexDesign;
            @include flexGap(20px);
            flex-wrap: wrap;
            color: $text-white;

            @media (max-width:1280px) {
                @include flexGap(7px);
            }

            li {
                a {
                    text-decoration: none;

                    font-size: $font-size-2;
                    font-family: $font-roboto;

                    color: $navlink;

                    transition: all 500ms linear;


                    &.active,
                    &:hover {
                        color: #fff;

                        position: relative;

                        &::before {
                            content: "";

                            width: 100%;
                            height: 2px;

                            background-color: $sec-color;

                            position: absolute;
                            top: 50%;
                            left: 50%;

                            transform: translate(-50%, -50%) rotate(45deg);

                            transition: all 500ms linear;
                        }
                    }

                    @media (max-width:1280px) {
                        font-size: $font-size-1;
                    }
                }
            }
        }


    }

    &__sign {
        @include flexDesign();
        @include flexGap(10px);
        flex-wrap: wrap;

        @media (max-width:1280px) {
            @include flexGap(3px);
        }

        @media (max-width: 990px) {
            display: none;
        }
    }
}