.prj-wrap {
    background-color: $bg-color;
}

.l-title {
    width: 50%;

    line-height: 109px;

    text-align: center;

    font-family: $font-archivo;
    font-size: $font-size-4;
    font-weight: 900;

    color: $text-white;

    transition: all 1s linear;

    @media (max-width:1280px) {
        font-size: 60px;
        line-height: 85px;

    }

    @media (max-width:990px) {
        width: 70%;

        font-size: 55px;
        line-height: 75px;

    }

    @media (max-width: 470px) {
        width: 85%;

        font-size: 45px;
        line-height: 61px;
    }

    &__desc {
        width: 35%;

        line-height: 28px;

        text-align: center;

        font-family: $font-roboto;
        font-size: $font-size-2;

        color: $text-white;

        transition: all 1s linear;

        @media (max-width:1280px) {
            width: 45%;
        }

        @media (max-width:990px) {
            width: 50%;
        }

        @media (max-width:650px) {
            width: 70%;
        }

        @media (max-width:470px) {
            width: 100%;
        }
    }
}