.mainvisiual {
    // padding: 0 35px;

    height: 100vh;

    border-radius: 0 0 200px 200px;

    background: url("../../../img/BG1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include flexDesign();
    justify-content: center;
    @include flexDirection(column);
    @include flexGap(30px);

    transition: all 1s linear;

    @media (max-width: 470px) {
        border-radius: 0 0 100px 100px;

    }
}

.l-wrap-inner {
    width: 79%;
    margin: 0 auto;


    transition: all 1s linear;

    @media (min-width: 1600px) {
        width: 1518px;
    }

    @media (max-width: 470px) {
        padding: 0 20px;
        width: 374px;
    }

    @media (max-width: 420px) {
        width: 90%;
    }
}

.p-bloc {
    &--cards {
        margin-top: -110px;

        display: flex;
        gap: 30px;
        flex-wrap: wrap;

    }

    &--activities {
        margin: 150px 0;

        @media (max-width: 990px) {
            margin: 125px 0;
        }

        @media (max-width: 470px) {
            margin: 100px 0;
        }
    }
}